/* CSS declarations go here */
.series-list-item{
  background: #ddd;
  margin-bottom: 10px;
}

.series-list-item h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 900;
}

.jumbotron{
  height: 50%;
  text-align: center;
}

.jumbotron h1{
  font-weight: 100;
  margin-bottom: 40px;
}

.jumbotron h3{
  margin-bottom: 20px;
}

.outerjumbo {
  line-height: 900px;
  height: 900px;
}

.jumbo-content {
  display: inline-block;
  line-height: 1em;
}

.navbar-brand{
  font-weight: 800;
}

.search-series-container{
  background: red;
  position: relative;
}

.search-series-container .btn.search-series {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 46px;
}


.search-input-wrapper {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 90px;
}
