<template name="jumbotron">
  <div class="jumbotron">
    <div class="container">
      <h1>Your favorite shows. Faster.</h1>
      <h3>Help me watch the essential</h3>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <form class="search">
            <div class="input-group">
              <input type="text" name="text" class="form-control input-lg" id="searchInput" placeholder="Battlestar Galactica">
              <span class="input-group-btn">
                <button class="btn btn-lg btn-success search-series"  type="submit">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div>
  </div>
</template>

<template name="searchResults">
  <div class="container">
    {{#momentum plugin="fade"}}
			{{#each seriesSearchResults}}
				{{> seriesListItem}}
			{{/each}}
    {{/momentum}}
</div>
</template>

<template name="seriesListItem">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
    <div class="series-list-item hvr-sweep-to-right" data-id="{{tvdbId}}">
      <div class="series-list-item-poster">
        <img src="{{poster}}" alt="no image">
      </div>
      <div class="series-list-item-text">
        <h2>{{name}}, {{hitCount}}</h2>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</template>
