<template name="seriesListItem">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
    <div class="series-list-item hvr-sweep-to-right" data-id="{{tvdbId}}">
      <div class="series-list-item-poster">
        <img src="{{poster}}" alt="no image">
      </div>
      <div class="series-list-item-text">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</template>

<template name="episodeListItem">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
    <p>{{name}}, Season {{season}}, Episode {{number}}</p>
    <p>{{description}}</p>
  </div>
</template>
