<template name="seriesInfo">
  <div class="container">
    <div class="col-lg-12 col-sm-12">
      <div class="series-topper">
        {{#each series}}
          <div class="series-topper-poster">
            <img src="{{poster}}">
          </div>
          <div class="series-topper-text">
            <h1>{{name}}</h1>
            <p><i>{{epCount}} episodes</i></p>
            <p>{{description}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="episodeList">
  <div class="container episode-list">
    {{#each episodes}}
      {{> episodeListItem}}
    {{/each}}
  </div>
</template>

<template name="episodeListItem">
  <div class="col-lg-12 col-sm-12">
    <div class="episode-list-item">
      <h4>{{season}}.{{number}}: {{name}}</h4>
      <p>{{description}}</p>
    </div>
  </div>
</template>
