.at-title{
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.at-title h3{
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 5px;
}

.at-sep{
  margin-bottom: 0px;
}

.at-pwd-form form{
  margin-top: 10px;
}

.at-oauth{

  margin-left: auto;
  margin-right: auto;
}
