/* CSS declarations go here */

.search-results-list{
}

.series-list-item{
  display: flex;
  align-items: center;
  border: 1px #ccc solid;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  background: white;
}

.hvr-sweep-to-right {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover h2, .hvr-sweep-to-right:focus h2, .hvr-sweep-to-right:active h2 {
  border-bottom: 1px solid white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.series-list-item h2{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.series-list-item p{
  padding-top: 5px;
}

.series-list-item-poster{
  flex-basis: 20%;
  flex-grow: 1;
}

.series-list-item-poster img{
  width: 100%;
}

.series-list-item-text{
  padding: 10px;
  flex-basis: 80%;
  flex-grow: 1;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-brand{
  font-weight: 700;
}

.jumbotron{
  text-align: center;
  margin: 0 0 0 0;
}

.jumbotron h1{
  font-weight: 100;
}

.jumbotron h3{
  font-weight: 400;
}
