/* CSS declarations go here */

.search-results-list{
}

.series-list-item{
  display: flex;
  align-items: center;
  border: 1px #ccc solid;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  background: white;
}

.series-list-item:hover{
  -webkit-box-shadow: 10px 10px 41px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 41px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 41px -15px rgba(0,0,0,0.75);
}

.series-list-item h2{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.series-list-item p{
  padding-top: 5px;
}

.series-list-item-poster{
  flex-basis: 25%;
  flex-grow: 1;
}

.series-list-item-poster img{
  width: 100%;
}

.series-list-item-text{
  padding: 10px;
  flex-basis: 75%;
  flex-grow: 1;
}

.navbar-brand{
  font-weight: 700;
}

.jumbotron{
  text-align: center;
  margin: 0 0 10px 0;
}

.jumbotron h1{
  font-weight: 100;
}

.jumbotron h3{
  font-weight: 400;
}
